apiVersion: apps/v1
kind: Deployment
metadata:
  name: ml-service
  namespace: sw2-ml
  labels:
    app: ml-service
spec:
  # 4 réplicas para demostrar distribución
  replicas: 4
  selector:
    matchLabels:
      app: ml-service
  template:
    metadata:
      labels:
        app: ml-service
    spec:
      containers:
      - name: ml-service
        image: us-central1-docker.pkg.dev/sw2-ml-service/sw2-ml-repo/ml-service:latest
        ports:
        - containerPort: 8010
          name: http
        envFrom:
        - configMapRef:
            name: ml-service-config
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /health/live
            port: 8010
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /health
            port: 8010
          initialDelaySeconds: 10
          periodSeconds: 5
          timeoutSeconds: 3
